<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- category-tree-fragment.html -->
<div th:fragment="category-tree-node">
  <li th:each="category : ${categories}">
    <!-- 카테고리 이름 출력 -->
    <span th:text="${category.name}"></span>

    <!-- 하위 카테고리가 있는 경우, 재귀적으로 호출 -->
    <ul th:if="${category.children}">
      <li th:replace="${this :: category-tree-node(children=${category.children})}"></li>
    </ul>
  </li>
</div>

</body>
</html>