<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <!-- 재귀 호출을 위한 fragment -->
  <div th:fragment="recursive-list(categories)">
    <ul>
      <li th:each="subcategory : ${categories}">
        <!-- 카테고리 이름 출력 -->
        <a th:href="@{'/category/detail/' + ${subcategory.id}}">
          <span th:text="${subcategory.name}"></span>
          <span th:text="${subcategory.id}"></span>
        </a>
        <!-- 하위 카테고리가 있는 경우, 재귀적으로 호출 -->
        <ul th:if="${subcategory.children}">
          <!-- 재귀 호출 -->
          <li th:replace="this :: recursive-list(categories=${subcategory.children})"></li>
        </ul>
      </li>
    </ul>
  </div>
  <title></title>
</head>
<body>

</body>
</html>